@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">List of Candidates</h1>
                <p>Select the candidate to fill out the Global Talent Stream Application</p>
                <div class="container">
                    <div class="row bg-light">
                        <div class="col-sm border">
                            First Name
                        </div>
                        <div class="col-sm border d-md-inline">
                            Middle Name
                        </div>
                        <div class="col-sm border">
                            Last name
                        </div>
                        <div class="col-sm border">
                            Country
                        </div>
                        <div class="col-sm border">
                            Generate form
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
